<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        .row{
            display: flex;
            margin: 0 -5px;
            margin-bottom: 16px;

        }
        .label{
            line-height: 24px;
            font-size: 1rem;
            width: 4rem;
            font-weight: 400;
            text-align: right;
            letter-spacing: 5px;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row" >
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Email">邮箱:</label>
            </div>
            <div>
                <input type="text" placeholder="请输入邮箱" class="from-control" id="Email" name="Email"/>
            </div>
        </div>
    </form>

</body>
</html>